:root {
    --bg-color: #ebebeb;
    --input-placeholder: #d4d4d4;
    --input-bg: #efefef;
    --texto-destaque: #ffff;
    --azul-destaque: #2a7ae4;
    --bg-contacto: #eaf2fd;
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: var(--bg-color);
    scroll-behavior: smooth;
}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input::placeholder,
textarea::placeholder {
    color: var(--input-placeholder);
    padding: 2%;
}

a {
    text-decoration: none;
    color: var(--azul-destaque);
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
}

button {
    cursor: pointer;
}

header {
    padding: 30px;
    background-color: var(--texto-destaque);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.logo-search {
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 29.17px;
    width: 40.02px;
}

.logo p {
    font-size: 26px;
    font-weight: bolder;
    margin-left: 6px;
    color: #464646;
}

.logo .logo-color {
    margin-left: 12px;
    color: var(--azul-destaque);
}

.logo-search input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    width: 393px;
    height: 40px;
    border-radius: 30px;
    padding: 8px 16px;
    border: none;
    background-color: var(--input-bg);
    background-image: url(../asset/img/lupa.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 320px;
}

.login {
    width: 600px;
    display: flex;
    justify-content: end;
}

.login button {
    width: 150px;
    height: 52px;
    background: none;
    border: solid 1px var(--azul-destaque);
    color: var(--azul-destaque);
    text-transform: uppercase;
}

.login button:hover {
    background-color: var(--azul-destaque);
    color: var(--texto-destaque);
}

.contacto {
    background-color: var(--bg-contacto);
    display: flex;
    height: 365px;
    justify-content: center;
    padding: 64px;
    gap: 64px;
}

.referencia {
    display: flex;
    width: 350px;
    margin: 20px 0 0 0;
}

.referencia img {
    height: 29.17px;
    width: 40.02px;
}

.referencia p {
    font-size: 26px;
    font-weight: bolder;
    margin-top: 5px;
    margin-left: 6px;
    color: #464646;
}

.referencia .logo-color_referencia {
    margin-left: 12px;
    color: var(--azul-destaque);
}

.link-utilities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.link-utilities a {
    color: #464646;
    font-weight: 500;
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 500px;
}

.form p {
    font-weight: 700;
    font-size: 16px;
    color: #464646;
}

.form input {
    width: 475px;
    position: relative;
    height: 56px;
    border: transparent;
    margin-bottom: 20px;
    box-sizing: content-box;
    padding: 0.5% 2.7%;
    color: var(--azul-destaque);
}

.form input:hover {
    border-bottom: solid 2px var(--azul-destaque);
    transition: linear 1s;
}

.label-nombre {
    width: 100%;
    position: absolute;
    color: var(--input-placeholder);
    top: 60px;
    left: 9px;
    transition: 0.5s;
}

.input-nombre:focus+.label-nombre {
    top: 45px;
    font-size: 14px;
    z-index: 2;
    transition: 0.2s;
    color: var(--azul-destaque);
}

.form textarea {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    border: transparent;
    color: var(--azul-destaque);
    margin-bottom: 20px;
}

.form button {
    background-color: var(--azul-destaque);
    border: none;
    color: var(--texto-destaque);
    height: 51px;
    width: 180px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ffff;
}

.rodapie {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
}

@media screen and(max-width:768px) {
    header{
        padding: 20px;
    }

    .logo-search{
        width: 100%;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .logo-search input {
        margin-left: 0;
        margin-top: 16px;
        width: 100%;
        background-position-x: 95%;
    }

    .login {
        width: 100%;
        justify-content: center;
    }

    .contacto {
        padding: 32px;
        gap: 32px;
        flex-direction: column;
        align-items: center;
    }

    .referencia{
        width: 100%;
        margin-top: 16px;
        justify-content: center;
    }

    .link-utilities {
        padding: 0;
        align-items: center;
        gap: 16px;
    }

    .form {
        width: 100%;
        margin-bottom: 32px;
    }

    footer {
        flex-direction: column;
        gap: 16px;
    }
}